* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.envato-header {
  width: 100%;
  height: 54px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  color: #545454;
  box-shadow: 0 1px 0 rgb(0, 0, 0);
  /* position: fixed; */
}
.envato-header img {
  width: 152px;
  height: 18px;
}
.envato-header a {
  color: #fff;
  text-decoration: none;
}
.envato-header .left {
  margin-left: 20px;
}
.envato-header .left .envatoMarket {
  color: #262626;
  cursor: default;
}
.envato-header .right {
  display: inline-block;
  padding: 0 20px;
  background-color: #82b440;
  width: 100px;
  height: 31px;
  font-size: 14px;
  padding: 5px 20px;
  line-height: 1.5;
  display: inline-block;
  margin-right: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 0 #6f9a37;
}

header {
  width: 100%;
  height: 650px;
  background-image: url(../images/backroundd.webp);
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  background-size: cover;
}
header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 0 25px 0;
}
header .container .social-icon {
  color: #929292;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 14px;
  cursor: pointer;
}
header .container .social-icon :hover {
  color: red;
  transition: 0.6s ease;
}
header .container .logo {
  cursor: pointer;
}
header .container .logo img {
  width: 107px;
  height: 30.28px;
}
header .container .col-icon {
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 100;
  gap: 40px;
  position: relative;
  cursor: pointer;
}
header .container .col-icon .relative {
  position: absolute;
  top: -10px;
  left: 77px;
  color: #EE3333;
  font-size: 12px;
}
header .header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -80px;
}
header .header-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}
header .header-menu ul li a {
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #292929;
  text-transform: uppercase;
}
header .header-menu ul li a:hover {
  color: #EE3333;
  transition: 0.5s all;
}
header .write {
  margin-top: 80px;
  margin-left: 100px;
}
header .write h3 {
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 30px;
}
header .write h1 {
  color: #292929;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  margin: 40px 0;
  font-size: 40px;
}
header .write button {
  background-color: transparent;
  color: #292929;
  border: 2px solid #292929;
  font-size: 15px;
  height: 55px;
  line-height: 51px;
  font-weight: 500;
  padding: 0px 35px;
  text-transform: capitalize;
  border-radius: 0px;
  cursor: pointer;
}
header .write button:hover {
  background-color: #ee3333;
  transition: 0.4s ease;
  border: none;
}
header .write button:hover a {
  color: #fff;
  font-weight: 600;
}
header .write button a {
  color: #292929;
  font-weight: 500;
  font-family: "Poppins" sans-serif;
}
header .slick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
header .slick ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .slick ul .important {
  border: 2px solid #EE3333 !important;
  background-color: #fff !important;
}
header .slick ul li button {
  background-color: #929292;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.banner {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.banner .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.banner .image img {
  width: 429.8px;
  height: 250.71px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.banner .image .writing {
  position: absolute;
  top: 50px;
  left: 30px;
}
.banner .image .writing h4 {
  line-height: 26px;
  color: #333333;
  font-family: "Poppins" sans-serif;
  margin-bottom: 8px;
  font-style: 16px;
}
.banner .image .writing h3 {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: "Poppins" sans-serif;
}
.banner .image .writing a {
  display: block;
  margin-top: 15px;
  font-family: "Poppins" sans-serif;
  color: #808080;
  font-size: 14px;
}
.banner .image .writing a:hover {
  color: #ee3333;
  transition: 0.5s ease;
}
.banner .image .writing a i {
  font-size: 14px;
  color: #ee3333;
  margin-left: 5px;
}

.products {
  padding: 70px 100px 0 100px;
  display: flex;
  /*  align-items: center; */
}
.products .tittle {
  width: 266px;
  border-top: 1px solid #292929;
}
.products .tittle h3 {
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.products .tittle h2 {
  font-size: 39px;
  line-height: 1.2;
  color: #929292;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.products .tittle ul li a {
  width: 266px;
  font-size: 14px;
  line-height: 21px;
  color: #292929;
  display: block;
  padding: 23px 25px;
  font-weight: 500;
  background-color: #f0f0f0;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  font-family: "Poppins", sans-serif;
}
.products .tittle ul li a:hover {
  background-color: #e33;
  transition: 0.6s;
  color: #fff;
}
.products .tittle ul li .important {
  background-color: #ee3333 !important;
  color: #fff;
}
.products .img {
  width: 266px;
  position: relative;
  opacity: 1;
  margin-left: 25px;
  margin-top: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  flex-wrap: wrap;
}
.products .img:hover .esl {
  opacity: 0;
}
.products .img:hover .hover {
  visibility: visible;
  opacity: 1;
  transition: 0.7s ease;
  width: 100%;
}
.products .img img {
  width: 266px;
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .img .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.products .new-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .new-sale .new {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  left: 20px;
  background-color: #ee3333;
}
.products .new-sale .sale {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  right: 20px;
  background-color: #292929;
}
.products .rating {
  width: 266px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .rating a {
  color: #929292;
  font-size: 13px;
}
.products .rating a:hover {
  color: #292929;
  transition: 0.4s;
}
.products .rating .icon {
  display: flex;
  align-items: center;
  gap: 3px;
}
.products .rating .icon i {
  display: flex;
  font-size: 10px;
  color: gold;
}
.products .lorem a {
  font-size: 14px;
  color: #292929;
}
.products .lorem a:hover {
  color: #ee3333;
  transition: 0.4s;
}
.products .product-price .dicountet-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #e33;
}
.products .product-price .main-discounted {
  text-decoration: line-through;
  margin-left: 15px;
}

.featured-product {
  width: 100%;
  padding: 80px 100px 45px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-product .col {
  width: 96.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding-top: 5px;
}
.featured-product .col h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
}
.featured-product .col .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: red;
  border-color: red;
  position: relative;
}
.featured-product .col .icons i {
  position: absolute;
  top: 0;
  /*  margin-top: -55px; */
  z-index: 9;
  width: 45px;
  height: 45px;
  color: #9e9e9e;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  padding-top: 14px;
  /* font-size: 16px; */
}
.featured-product .col .icons i:hover {
  background-color: #ee3333;
  color: #ffffff;
  transition: 0.4s;
}
.featured-product .tittle {
  width: 266px;
  border-top: 1px solid #292929;
}
.featured-product .tittle h3 {
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.featured-product .tittle h2 {
  font-size: 39px;
  line-height: 1.2;
  color: #929292;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.featured-product .tittle ul li a {
  width: 266px;
  font-size: 14px;
  line-height: 21px;
  color: #292929;
  display: block;
  padding: 23px 25px;
  font-weight: 500;
  background-color: #f0f0f0;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  font-family: "Poppins", sans-serif;
}
.featured-product .tittle ul li a:hover {
  background-color: #e33;
  transition: 0.6s;
  color: #fff;
}
.featured-product .tittle ul li .important {
  background-color: #ee3333 !important;
  color: #fff;
}
.featured-product .img {
  display: flex;
  width: 266px;
  position: relative;
  opacity: 1;
  margin-left: 25px;
  margin-top: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  flex-wrap: wrap;
}
.featured-product .img:hover .esl {
  opacity: 0;
}
.featured-product .img:hover .hover {
  visibility: visible;
  opacity: 1;
  transition: 0.7s ease;
  width: 100%;
}
.featured-product .img img {
  width: 266px;
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-product .img .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.featured-product .new-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-product .new-sale .new {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  left: 20px;
  background-color: #ee3333;
}
.featured-product .new-sale .sale {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  right: 20px;
  background-color: #292929;
}
.featured-product .rating {
  width: 266px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-product .rating a {
  color: #929292;
  font-size: 13px;
}
.featured-product .rating a:hover {
  color: #292929;
  transition: 0.4s;
}
.featured-product .rating .icon {
  display: flex;
  align-items: center;
  gap: 3px;
}
.featured-product .rating .icon i {
  display: flex;
  font-size: 10px;
  color: gold;
}
.featured-product .lorem a {
  font-size: 14px;
  color: #292929;
}
.featured-product .lorem a:hover {
  color: #ee3333;
  transition: 0.4s;
}
.featured-product .product-price .dicountet-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #e33;
}
.featured-product .product-price .main-discounted {
  text-decoration: line-through;
  margin-left: 15px;
  color: #929292;
}
.featured-product .boxs {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container-fluid .image {
  position: relative;
}
.container-fluid .image .writing {
  position: absolute;
  top: 100px;
  left: 30px;
}
.container-fluid .image .writing h4 {
  font-size: 18px;
  font-weight: 400;
}
.container-fluid .image .writing h3 {
  font-size: 40px;
  font-weight: 500;
}
.container-fluid .image .writing a {
  display: inline-block;
  margin-top: 15px;
  color: #808080;
}
.container-fluid .image .writing a:hover {
  color: #ee3232;
  transition: 0.4s ease-out;
}
.container-fluid .image .writing a i {
  color: red;
  margin-left: 10px;
}
.container-fluid .image img {
  height: 310px;
  width: 659px;
  -o-object-fit: cover;
     object-fit: cover;
}

#Testimonial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
#Testimonial .row {
  margin-left: 20px;
  width: 82.5%;
  height: 454px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}
#Testimonial .row .testimonialimg {
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#Testimonial .row .loremP {
  width: 709px;
  height: 78px;
  text-align: center;
  color: #707070;
  font-size: 13px;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 16px;
}
#Testimonial .row .icon {
  width: 29px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
#Testimonial .row .testimonial-author {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #292929;
}
#Testimonial .row span {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 13px;
  color: #929292;
}
#Testimonial .row ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
#Testimonial .row ul li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ee3333;
}

.different {
  display: inline-block;
  border: 2px solid #ee3333 !important;
  background-color: #fff !important;
}/*# sourceMappingURL=styles.css.map */